      <div class="module-card-bottom">
      <img src="{{image}}" alt="{{name}}" class="module-card-img"/>
      <div>
      <p>{{name}}</p>
      <p>{{description}}</p>
      <p class="price">{{price}} $</p>
      <div class="hide">
      <p><b>CPU</b> {{cpu}}</p>
      <p><b>CAMERA</b> {{camera}}</p>
      <p><b>SIZE</b> {{size}}</p>
      <p><b>WEIGHT</b> {{weight}}</p>
      <p><b>DISPLAY</b> {{display}}</p>
      <p><b>BATTERY</b> {{battery}}</p>
      <p><b>MEMORY</b> {{memory}}</p>
      </div>
      </div>

      <button data-id="{{id}}" class="module-card-button">See More {{id}}</button>
      </div>